@charset "utf-8";
/* CSS Document */

/*reset*/
html,body,h1,h2,p,ul,li{
  margin: 0;
  padding: 0;
  line-height: 1.0;
  font-family:
  "Hiragino Kaku Gothic Pro",
  Meiryo,
  sans-serif;
}

img{
  vertical-align: bottom;
  border: 0;
}

a{
  text-decoration: none;
}

ul{
  list-style-type: none;
}

p{
  color: #333;
}

/*レイアウト*/
#container{
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

header{
  margin-bottom: 80px;
}

#content{
  width: 630px;
  float: left;
  margin-bottom: 40px;
}

#sidebar{
  width: 300px;
  float: right;
}

footer{
  clear: both;
}

h1{
  margin-bottom: 10px;
}

header #copy{
  margin-bottom: 10px;
  font-weight:bold;
}

header #main{
  max-width: 100%;
}

nav ul{
  overflow: hidden;
  background: #cc0000;
  background:-ms-linear-gradient(top,#cc0000,#550000);/*IE*/
  background:-moz-linear-gradient(top,#cc0000,#550000);/*firefox*/
  background:-webkit-linear-gradient(top,#cc0000,#550000);/*chorome*/
  background:linear-gradient(top,#cc0000,#550000);
}

nav ul li{
  width: 120px;
  float: left;
  font-size: 14px;
}

nav ul li a{
  display: block;
  padding: 10px 0;
  text-align: center;
  border-right: solid 1px #999;
  color: #fff;
}

nav ul li a:hover{
  background-color: #550000;
}

#content h2{
  margin-bottom: 20px;
  border-bottom: solid 2px #999;
  color: #850000;
}

#content p{
  line-height: 1.6;
}

#content img{
  margin: 20px 0;
}

#bunner img{
  margin-bottom: 55px;
}

#sidebar h2{
  color: #EE7771;
  border-bottom: solid 2px #CCC;
}

#sidebar ul li{
  height: 40px;
  border-bottom: solid 2px #CCC;
}

#sidebar ul li img{
  padding-right: 10px;
  padding-bottom: 15px;
}

#sidebar ul li a{
  display: block;
  line-height: 40px;
  color: #CCC;
}

#sidebar ul li a:hover{
  background-color: #FEDDCC;
}

footer{
  height: 100px;
  background-color: #990100;
}

footer p{
  color: #fff;
}

footer .title{
  padding: 10px 0 10px 10px;
  font-weight: bold;
}

footer .copy{
  padding-left: 10px;
}

/*979px以下の時に適用*/
@media screen and (max-width:979px){
 
 /*レイアウト*/
body{
  margin: 0 10px;
}

#content{
  width: 65.6%;/*親ボックスに対して*/
}

#sidebar{
  width: 31.25%;/*親ボックスに対して*/
}

img{
  max-width: 100%;
}

}

/*640px以下の時に適用*/
@media screen and (max-width:640px){
 
header,footer{
  width: 100%;
}
 
#content,#sidebar{
  width: 100%;
  float: none;/*float解除*/
}

nav ul li{
  width: 33.33%;/*3分割*/
}

nav ul li:last-child a{
  border-right: none;
}

#bed{
  text-align: center;
}

#bunner{
  text-align: center;
}
}